<a href="https://colab.research.google.com/github/srikanth1998/DAV-5400/blob/master/DAV_500_M2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DAV 5400 Module 2 Assignment**

**Srikanth Burra**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:

import pandas as pd
import numpy as np

#loading txt file from drive
df = pd.read_csv('/content/drive/My Drive/cars-sample35.txt')

#converting txt file to CSV 
df.to_csv('cars.csv',index = None)
df.head()

    high high.1  2     4    med   low  unacc
0   high   high  4  more  small  high    acc
1   high   high  4  more    big   low  unacc
2   high    low  2  more    big  high    acc
3  vhigh    low  3     2    med   med  unacc
4    low   high  2     2  small   low  unacc

In [57]:
#Data preprocessing
dic = dict()

#traversing through dictionary and assigning values in dict
for i in df.columns:
    dic[i] = i

#Creating new row to add header column name to the data set
new_row = pd.DataFrame(dic,index=[0])

#concatinating new row to the exixsting data frame
df = pd.concat([new_row, df])

#creating a list with column names
column_name = ['Price','Maintenance cost','Number of doors','Number of passengers','Luggage capacity','Safety rating','Classification of vehicle'] 
df.to_csv(r'/content/drive/My Drive/cars-sample36.csv', header=column_name, index=False)
df = pd.read_csv(r'/content/drive/My Drive/cars-sample36.csv')
df['Maintenance cost'][0] = 'high'
df.head()

,Price,Maintenance cost,Number of doors,Number of passengers,Luggage capacity,Safety rating,Classification of vehicle
0,Price,high,Number of doors,Number of passengers,Luggage capacity,Safety rating,Classification of vehicle
1,high,high,2,4,med,low,unacc
2,high,high,4,more,small,high,acc
3,high,high,4,more,big,low,unacc
4,high,low,2,more,big,high,acc

 **1. (5 Points) Your first task is to find the list index values of each automobile having a price rating of "med". However,
you are required to do this using a list comprehension instead of a basic for or while loop. The list comprehension
should create a new list containing your result. Be sure to print your results to the screen.**

In [ ]:
#transforming 'price' column values from dataset to dataframe
price = df['Price']

#comprehension list is used to retrive indexes 
#travesring on 'price' and verifying if 'price' column has 'med' value
#The return value is a new list, leaving the old list unchanged
list1 = [index for index in range(len(price)) if price[index] == "med" ]

#printing the result
list1

[6, 16, 20, 23, 26, 29]

**2. (5 Points) Your second task is to find the "number of passengers" value for each auto having a "price" value of
"med" using a list comprehension instead of a basic for or while loop. The list comprehension should create a new
list containing your findings. Be sure to print your results to the screen.**

In [ ]:
#transforming 'Number of passengers' column values from dataset to dataframe
noOfPassengers = df['Number of passengers']

#from previous output, we traverse through 'noOfPassengers' and extract 'noOfPassengers' values using indexs
passengrs = [noOfPassengers[index] for index in list1]

#printing the result
passengrs

['more', '2', '2', '2', '4', '2']

**3. (5 Points) Your third task is to find the index value for each automobile having a price value of "high" and a
maintenance value that is not "low" using a list comprehension. The list comprehension should create a new list
containing your findings. Be sure to print your results to the screen.**

In [ ]:
#transforming 'maintenance' column values from dataset to dataframe
maintenance = df['Maintenance cost']

#traversing through the dataframe and checking the conditions
#condition-1 IF pirce == high
#condition-2 IF maintenance != low
#storing the return value in list2
list2 = [index for index in  range(len(price)) if price[index] == "high" and maintenance[index] != "low"]

#printing the list2
list2

[0, 1, 2, 27, 31]

**4. (5 Points) For your fourth task, implement this same logic using a list comprehension. Apply your list
comprehension to the nlist list of lists shown above. Be sure to print your newly created list to the screen**

In [ ]:
#given nested list
nlist = [ [1, 2, 3], ['A', 'B', 'C'], [4, 5], ['D', 'E'] ]

#travesring over the firdt list and and traversing te nested list and retruning each value to store in the new list
list3 = [index[j] for index in nlist for j in range(len(index))]

#printing new list3
list3

[1, 2, 3, 'A', 'B', 'C', 4, 5, 'D', 'E']

**5. (5 Points) Your fifth task is to create a user defined function that accepts as input one of the seven automobile
attribute lists as well as an integer value and returns a Python dict object. Remember: a Python dict object is
comprised of ‘key/value’ pairs. The integer value accepted as a parameter by your function will represent the exact
number of items you are to use from the list for purposes of creating the new dict object**

In [ ]:
#transforming price column from data set to new data frame
price = df['Price']

#creating new function 'makeDict()' with two parameters
#makeDict() function accepts two parameters 1. is in list format and 2. is an integer
def makeDict(lis, n):

  #here we concanitaing letter 'A' with numerics and storing in a list 'l'
  l = ['A'+ str(j) for j in range(n)]

  #A new dictionary is created with two list's
  #1. list conatains alpnanumeric i.e : 'A1','A2',...,'An' as a keys in a dictionary
  #2. list contain column values which was given as a parameter to a function
  # 'zip' is an inbuilt function which creates an iterator that will aggregate elements from two or more iterables.
  new_dict = {l:lis for l,lis in zip(l,lis)}  

  #returning new_dict values
  return(new_dict)
#functioning calling with two parameters 1. list and 2. integer
makeDict(price, 8)

{'A0': 'high',
 'A1': 'high',
 'A2': 'high',
 'A3': 'high',
 'A4': 'vhigh',
 'A5': 'low',
 'A6': 'med',
 'A7': 'low'}

**6. (5 Points) Now that you have your reusable user-defined function, use it to create two new dict objects containing
the first seven elements of the ‘Price’ and ‘Luggage’ lists, respectively. Then, use these dict objects to tell us the
price and luggage capacity of the auto identified by the ‘A4’ key value.**

In [54]:
##transforming price column and Luggage column from data set to new data frame
price = df['Price']
Luggage = df['Luggage capacity']

#creating new dictionaries
priceDict = {}
LuggageDict = {}

#calling makeDict function with two diffrent parameter
priceDict = makeDict(price, 7)
LuggageDict = makeDict(Luggage, 7)

#printing the output from the dictinary obj
print(priceDict)
print(LuggageDict)

{'A0': 'high', 'A1': 'high', 'A2': 'high', 'A3': 'high', 'A4': 'vhigh', 'A5': 'low', 'A6': 'med'}
{'A0': 'med', 'A1': 'small', 'A2': 'big', 'A3': 'big', 'A4': 'med', 'A5': 'small', 'A6': 'med'}

In [56]:
#traversing through priceDict and LuggageDict objects  and printing price value and Luggage capacity value wit a key 'A4' and storing in the list
newList = ["price = " +value for key, value in priceDict.items()if key == 'A4'], ["Luggage capacity = " +value for key, value in LuggageDict.items() if key == 'A4']

#printing the list
newList

(['price = vhigh'], ['Luggage capacity = med'])