<a href="https://colab.research.google.com/github/srikanth1998/DAV-5400/blob/master/DAV_500_M4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DAV 5400 Module 4 Assignment**

**Srikanth Burra**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**1. (5 Points) Write a Python/NumPy code block that finds the distinct/unique common items between these two arrays:**

In [ ]:
#NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and 
#matrices, along with a large collection of high-level mathematical functions to operate on these arrays. 
import numpy as np

#Adding elements to an array
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

#intersect1d() in numpy return the sorted, unique values that are in both of the input arrays.
#printing the result
print(np.intersect1d(a, b))

[2 4]

**2. (5 Points) Create the following 5x3 array using knowledge you have of Python’s / NumPy’s sequencing functionality
so that you do not need to explicitly key in every integer value.**

In [ ]:
#arrange() function takes range of parameters
#reshape() function gives a new shape to an array without changing its data.
arr = np.arange(1,16).reshape(3,5)

#Transpsing the array gives the required result
arr1 = arr.T

#printing hte array
arr1

array([[ 1,  6, 11],
       [ 2,  7, 12],
       [ 3,  8, 13],
       [ 4,  9, 14],
       [ 5, 10, 15]])

**3. (5 Points) You are given the following two arrays:
a = np.array([12, 5, 7, 15, 3, 1, 8])
b = np.array([14, 6, 3, 11, 19, 12, 5])
Write a Python/Numpy code block that removes from array a any items that are also present in array b**

In [ ]:
#creating two diffrent arrays
a = np.array([12, 5, 7, 15, 3, 1, 8])
b = np.array([14, 6, 3, 11, 19, 12, 5])

#The difference() method computes the difference of two sets and returns items that are unique to the first set.
print(set(a).difference(b))

{1, 7, 8, 15}

**4. (7 Points) The process of transforming a multidimensional array into a unidimensional array is referred to as
“flattening”. Transform the 5x3 array shown above in Problem 2 into a unidimensional array such that the sequence of
values contained within the array is as follows: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15**

In [ ]:
#The flatten() function is used to get a copy of an given array collapsed into one dimension. 
#tolist() is a function used to convert array to list
num_list = arr.flatten().tolist()
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

**5. (8 Points) For this problem you will load a small data set to your online GitHub repository and then read it into a
NumPy 2D array. You will then use the content that NumPy array to answer a series of analytical questions.**

In [ ]:
# suppress scientific notation
np.set_printoptions(suppress = True)

# read the data file from GitHub and convert to a NumPy ndarray object
# be sure to replace the ‘link_to_raw_copy of data file in your Github Repository’ placeholder shown below
# with a link to the “raw” version of the file you pushed to your online GitHub repository
nyc_water = pandas.read_csv('https://raw.githubusercontent.com/srikanth1998/DAV-5400/master/M3_Data.csv').to_numpy()

# verify you have an ndarray object
type(nyc_water)

numpy.ndarray

**5a What is the maximum yearly NYC consumption of water in millions of gallons per day?**

In [ ]:
#Traversing through 2nd index column and finding max value from it
#[ : , : ]left side of ',' resembels rows and right side of ',' resembles columns
nyc_water[:,2].max()

1512.0

**5b How many calendar years are represented within this data set? NumPy's shape command is one way to find
out.**

In [ ]:
#shape function in numpy give the size of the array
#index indentify the column
#counting the ros in first column
np.shape(nyc_water)[0]

41

**5c What is the mean and the standard deviation of the per capita daily water consumption?**

In [ ]:
#mean() is an internal function in numpy to find mean of the column values
mean = np.mean(nyc_water[:,3])

#standard_deviation() is an internal function in numpy to find standard_deviation of the column values
std = np.std(nyc_water[:,3])

#printing mean and standard_deviation values
print('mean of ',mean)
print('standard deviation of',std)

mean of  158.41463414634146
standard deviation of 31.847177467886052

**5d  What is the increase or decrease in population from year to year? Use NumPy's `diff` function to create an array
of differences and save that to a variable called "pop_diff", then print that variable to the screen.**

In [ ]:
#diff function on numpy gives the difference between calues in an array with a given column
pop_diff = np.diff(nyc_water[:,1])
pop_diff

array([-30461. ,  17602. ,  19864. ,  72119. ,  53290. ,  39540. ,
        45192. ,  23230. ,  11243. ,  -9544. ,  -8525. ,  38851. ,
        54443. ,  77222. ,  64292. ,  62582. ,  64772. ,  75631. ,
        84816. ,  89401. ,  60618. ,  16685.5,  16685.5,  16685.5,
        16685.5,  16685.5,  16685.5,  16685.5,  16685.5,  16685.5,
        16685.5,  97830. ,  75069. ,  50707. ,  38648. ,  30794. ,
         7795. , -37705. , -39523. , -61931. ])