<a href="https://colab.research.google.com/github/srikanth1998/DAV-5400/blob/master/DAV_500_M1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DAV 5400 Module 1 Assignment**

**Srikanth Burra**

In [56]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [57]:

import pandas as pd
import numpy as np

#loading txt file from drive
df = pd.read_csv('/content/drive/My Drive/cars-sample35.txt')

#converting txt file to CSV 
df.to_csv('cars.csv',index = None)
df.head()

    high high.1  2     4    med   low  unacc
0   high   high  4  more  small  high    acc
1   high   high  4  more    big   low  unacc
2   high    low  2  more    big  high    acc
3  vhigh    low  3     2    med   med  unacc
4    low   high  2     2  small   low  unacc

In [58]:
#Data preprocessing
dic = dict()
for i in df.columns:
    dic[i] = i
new_row = pd.DataFrame(dic,index=[0])
df = pd.concat([new_row, df])
column_name = ['Price','Maintenance cost','Number of doors','Number of passengers','Luggage capacity','Safety rating','Classification of vehicle'] 
df.to_csv(r'/content/drive/My Drive/cars-sample36.csv', header=column_name, index=False)
df = pd.read_csv(r'/content/drive/My Drive/cars-sample36.csv')
df['Maintenance cost'][0] = 'high'
df.head()

,Price,Maintenance cost,Number of doors,Number of passengers,Luggage capacity,Safety rating,Classification of vehicle
0,high,high,2,4,med,low,unacc
1,high,high,4,more,small,high,acc
2,high,high,4,more,big,low,unacc
3,high,low,2,more,big,high,acc
4,vhigh,low,3,2,med,med,unacc

 **1. Your first task is to read the file again and extract these seven attributes from each line of the file and
create seven distinct Python list objects comprised solely of the values you extracted for a given attribute.**

In [59]:
#transposing the dataframe
dt = df.T

#data frame with values
dv = dt.iloc[0:,:5]

#dc = dataframe with coulmns
dc =df.columns

#creating te dictionary to store key value pairs
class dictionary(dict): 
    
    def __init__(self): 
        self = dict()   
   
    def add(self, key, value): 
        self[key] = value 

dict_obj = dictionary() 
count=0

#adding coloumns to keys and rows to values
while count < len(dc) :   
    dict_obj.key = dc[count]
    dict_obj.value = dv.values[count]
    dict_obj.add(dict_obj.key, dict_obj.value) 
    count += 1

#iterating on dtionary
#printing dictionary values
for i in dict_obj:
  val = dict_obj[i]
  print(i, '=', val)

Price = ['high' 'high' 'high' 'high' 'vhigh']
Maintenance cost = ['high' 'high' 'high' 'low' 'low']
Number of doors = ['2' '4' '4' '2' '3']
Number of passengers = ['4' 'more' 'more' 'more' '2']
Luggage capacity = ['med' 'small' 'big' 'big' 'med']
Safety rating = ['low' 'high' 'low' 'high' 'med']
Classification of vehicle = ['unacc' 'acc' 'unacc' 'acc' 'unacc']

**2. (5 Points) Your second task is to find the list index values of each automobile having a “price” rating of "med".
Create a new list object with your result. HINT: you can accomplish this task by searching the list of price values you
created earlier. Be sure to print your results.**

In [60]:
#importing 'Price' values from df to Price attribute
price = df['Price']

#creating empty list 
priceMidList = []

#iterating over length of price 
for i in range(len(price)):

#comparing if price data frame has 'med'
  if price[i] == 'med':
    priceMidList.append(i)

#printing index values stored in priceMidList
print(priceMidList)

[6, 16, 20, 23, 26, 29]

**3. (5 Points) Your third task is to find the "number of passengers" value for each auto having a "price" value of "med".
Create a new list to store your findings and be sure to print your results.**

In [61]:
#importing 'Number of passengers'  from df to noOfPassengers
noOfPassengers = df['Number of passengers']

#creating empty list
Passengers = []

#iterating over priceMidList from previous list which having index values
for i in priceMidList:

  #storing new index values in Passengers list by refering previous index
  Passengers.append(noOfPassengers[i])

#printing indexes
print(Passengers)

['more', '2', '2', '2', '4', '2']

 **4. (5 Points) Your fourth task is to find the index value for each automobile having a “price” value of "high" and a
“maintenance” value that is not "low". Create a new list to store your findings and be sure to print your results.**

In [62]:
#importing 'Price' from df to 'price'
#importing 'Maintenance cost' from df to 'maintenance'
price = df['Price']
maintenance = df['Maintenance cost']

#creating List priceMidList
priceMidList = []

#iterating over price 
for i in range(len(price)):

  #comparing two values and storing index values in priceMidList
  if price[i] == "high" and maintenance[i] != "low":
    priceMidList.append(i)

#printing index value
print(priceMidList)

[0, 1, 2, 27, 31]

**5. (5 Points) Your fifth task is to find the index value for each auto having 2 doors and a luggage value of "big". Create a
new list to store your findings and be sure to print your results.**

In [63]:
#importing 'Luggage capacity' from df to 'Luggage'
#importing 'Number of doors' from df to 'doors'
Luggage = df['Luggage capacity']
doors = df['Number of doors']

#creating List LuggageCapacity
LuggageCapacity = []

#iterating over doors df
for i in range(len(doors)):

  #Comparing two values and storing index values in LuggageCapacity
  if doors[i] == "2" and Luggage[i] == "big":
    LuggageCapacity.append(i)

#printing index value
print(LuggageCapacity)

[3, 12, 19, 23]

**6. (5 Points) Finally, create a new list containing the only the integer equivalents of the doors values. Keep in mind that
the lists you have created thus far are composed solely of strings. If you find any values of '5more' in your list,
convert them to a '5'. After converting the '5more' values to '5', convert all of the items in your list to their numeric
equivalent and calculate the average number of doors across all 35 autos using whichever of Python's built in
functions you require. Print your resul**

In [64]:
#initiating "Number of doors" from df to "doors"
doors = df['Number of doors']

#iterating over for loop and coverting string value sto int values
for i in range(len(doors)):
  if doors[i] == "5more":
    doors[i] = 5
  else:
    doors[i] = int(doors[i])

#finding average of the list using bilting MEAN function
mean(doors)

3.3142857142857145