<a href="https://colab.research.google.com/github/srikanth1998/DAV-5400/blob/master/DAV_500_M4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
import numpy as np
a = np.array([1,2,3,2,3,4,3,4,5,6])

b = np.array([7,2,10,2,7,4,9,4,9,8])
print(np.intersect1d(a, b))

[2 4]

In [8]:
arr = np.arange(15).reshape(5,3)
arr

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14]])

In [10]:
a = np.array([12, 5, 7, 15, 3, 1, 8])
b = np.array([14, 6, 3, 11, 19, 12, 5])
print(set(a).difference(b))

{1, 7, 8, 15}

In [11]:
num_list = arr.flatten().tolist()
print(num_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [15]:
import pandas as pd
import numpy as np

#loading txt file from drive
df = pd.read_csv('/content/drive/My Drive/M3_Data.csv')
df.head()

,Year,New York City Population,NYC Consumption(Million gallons per day),Per Capita(Gallons per person per day)
0,1979,7102100.0,1512.0,213
1,1980,7071639.0,1506.0,213
2,1981,7089241.0,1309.0,185
3,1982,7109105.0,1382.0,194
4,1983,7181224.0,1424.0,198

In [21]:
df['NYC Consumption(Million gallons per day)'].max()

1512.0

In [23]:
n = df.Year.nunique()
n

41

In [24]:
df['Per Capita(Gallons per person per day)'].std()

32.24280974865256

In [25]:
df['Per Capita(Gallons per person per day)'].mean()

158.41463414634146

In [27]:
pop = np.diff(df['New York City Population'])
pop

array([-30461. ,  17602. ,  19864. ,  72119. ,  53290. ,  39540. ,
        45192. ,  23230. ,  11243. ,  -9544. ,  -8525. ,  38851. ,
        54443. ,  77222. ,  64292. ,  62582. ,  64772. ,  75631. ,
        84816. ,  89401. ,  60618. ,  16685.5,  16685.5,  16685.5,
        16685.5,  16685.5,  16685.5,  16685.5,  16685.5,  16685.5,
        16685.5,  97830. ,  75069. ,  50707. ,  38648. ,  30794. ,
         7795. , -37705. , -39523. , -61931. ])