<a href="https://colab.research.google.com/github/srikanth1998/DAV-5400/blob/master/DAV_500_M2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DAV 5400 Module 1 Assignment**

**Srikanth Burra**

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:

import pandas as pd
import numpy as np

#loading txt file from drive
df = pd.read_csv('/content/drive/My Drive/cars-sample35.txt')

#converting txt file to CSV 
df.to_csv('cars.csv',index = None)
df.head()

    high high.1  2     4    med   low  unacc
0   high   high  4  more  small  high    acc
1   high   high  4  more    big   low  unacc
2   high    low  2  more    big  high    acc
3  vhigh    low  3     2    med   med  unacc
4    low   high  2     2  small   low  unacc

In [8]:
#Data preprocessing
dic = dict()
for i in df.columns:
    dic[i] = i
new_row = pd.DataFrame(dic,index=[0])
df = pd.concat([new_row, df])
column_name = ['Price','Maintenance cost','Number of doors','Number of passengers','Luggage capacity','Safety rating','Classification of vehicle'] 
df.to_csv(r'/content/drive/My Drive/cars-sample36.csv', header=column_name, index=False)
df = pd.read_csv(r'/content/drive/My Drive/cars-sample36.csv')
df['Maintenance cost'][0] = 'high'
df.head()

,Price,Maintenance cost,Number of doors,Number of passengers,Luggage capacity,Safety rating,Classification of vehicle
0,high,high,2,4,med,low,unacc
1,high,high,4,more,small,high,acc
2,high,high,4,more,big,low,unacc
3,high,low,2,more,big,high,acc
4,vhigh,low,3,2,med,med,unacc

In [20]:
df

,Price,Maintenance cost,Number of doors,Number of passengers,Luggage capacity,Safety rating,Classification of vehicle
0,high,high,2,4,med,low,unacc
1,high,high,4,more,small,high,acc
2,high,high,4,more,big,low,unacc
3,high,low,2,more,big,high,acc
4,vhigh,low,3,2,med,med,unacc
5,low,high,2,2,small,low,unacc
6,med,med,4,more,med,high,vgood
7,low,low,3,2,big,med,unacc
8,vhigh,low,2,2,small,low,unacc
9,vhigh,high,4,4,med,low,unacc
10,low,low,2,2,med,med,unacc
11,vhigh,low,4,more,small,high,acc
12,high,low,2,4,big,med,acc
13,low,vhigh,3,more,big,low,unacc
14,high,low,5more,2,big,med,unacc
15,vhigh,high,2,more,med,high,unacc
16,med,med,2,2,small,low,unacc
17,high,low,5more,4,med,high,acc
18,low,low,3,more,med,high,vgood
19,low,low,2,2,big,med,unacc
20,med,high,4,2,big,high,unacc
21,low,low,2,2,small,high,unacc
22,vhigh,high,5more,4,med,med,unacc
23,med,vhigh,2,2,big,low,unacc
24,low,vhigh,4,4,big,low,unacc
25,vhigh,low,3,more,big,low,unacc
26,med,vhigh,3,4,small,low,unacc
27,high,high,3,4,med,med,unacc
28,low,high,5more,2,big,low,unacc
29,med,high,5more,2,med,med,unacc
30,high,low,3,4,med,high,acc
31,high,vhigh,5more,4,med,med,unacc
32,low,low,5more,2,med,low,unacc
33,vhigh,vhigh,4,2,big,high,unacc
34,high,low,3,2,big,high,unacc

 **1. (5 Points) Your first task is to find the list index values of each automobile having a price rating of "med". However,
you are required to do this using a list comprehension instead of a basic for or while loop. The list comprehension
should create a new list containing your result. Be sure to print your results to the screen.**

In [66]:
price = df['Price']
l = [ind for ind in range(len(price)) if price[ind] == "med" ]
l

[6, 16, 20, 23, 26, 29]

**2. (5 Points) Your second task is to find the "number of passengers" value for each auto having a "price" value of
"med" using a list comprehension instead of a basic for or while loop. The list comprehension should create a new
list containing your findings. Be sure to print your results to the screen.**

In [67]:
noOfPassengers = df['Number of passengers']
psngrs = [noOfPassengers[ind] for ind in l]
psngrs

['more', '2', '2', '2', '4', '2']

**3. (5 Points) Your third task is to find the index value for each automobile having a price value of "high" and a
maintenance value that is not "low" using a list comprehension. The list comprehension should create a new list
containing your findings. Be sure to print your results to the screen.**

In [68]:
price = df['Price']
maintenance = df['Maintenance cost']
l2 = [ind for ind in  range(len(price)) if price[ind] == "high" and maintenance[ind] != "low"]
l2

[0, 1, 2, 27, 31]

**4. (5 Points) For your fourth task, implement this same logic using a list comprehension. Apply your list
comprehension to the nlist list of lists shown above. Be sure to print your newly created list to the screen**

In [89]:
nlist = [ [1, 2, 3], ['A', 'B', 'C'], [4, 5], ['D', 'E'] ]
l3 = [ind[j] for ind in nlist for j in range(len(ind))]
l3

[1, 2, 3, 'A', 'B', 'C', 4, 5, 'D', 'E']

**5. (5 Points) Your fifth task is to create a user defined function that accepts as input one of the seven automobile
attribute lists as well as an integer value and returns a Python dict object. Remember: a Python dict object is
comprised of key/value pairs. The integer value accepted as a parameter by your function will represent the exact
number of items you are to use from the list for purposes of creating the new dict object**