<a href="https://colab.research.google.com/github/srikanth1998/DAV-5400/blob/master/Module%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd
from sklearn import linear_model


df = pd.read_excel('/content/drive/My Drive/weatherHistory.xls')
df

                    dateTime      open      high       low     close  volume
0      2020-03-06 09:07:00.0  27649.95  27649.95  27649.95  27649.95       0
1      2020-03-06 09:15:00.0  27508.55  27546.55  27201.30  27294.25       0
2      2020-03-06 09:16:00.0  27297.00  27436.10  27297.00  27421.35       0
3      2020-03-06 09:17:00.0  27415.70  27508.10  27411.35  27499.20       0
4      2020-03-06 09:18:00.0  27496.65  27515.30  27452.35  27505.95       0
...                      ...       ...       ...       ...       ...     ...
65530  2020-11-18 09:48:00.0  29387.60  29392.20  29375.35  29380.45       0
65531  2020-11-18 09:49:00.0  29382.45  29405.35  29375.95  29401.75       0
65532  2020-11-18 09:50:00.0  29402.30  29431.15  29401.35  29425.00       0
65533  2020-11-18 09:51:00.0  29423.35  29454.45  29421.30  29451.20       0
65534  2020-11-18 09:52:00.0  29454.30  29463.60  29434.80  29434.80       0

[65535 rows x 6 columns]

In [ ]:
df.head(10)

                dateTime      open      high       low     close  volume
0  2020-03-06 09:07:00.0  27649.95  27649.95  27649.95  27649.95       0
1  2020-03-06 09:15:00.0  27508.55  27546.55  27201.30  27294.25       0
2  2020-03-06 09:16:00.0  27297.00  27436.10  27297.00  27421.35       0
3  2020-03-06 09:17:00.0  27415.70  27508.10  27411.35  27499.20       0
4  2020-03-06 09:18:00.0  27496.65  27515.30  27452.35  27505.95       0
5  2020-03-06 09:19:00.0  27504.80  27517.80  27408.40  27424.00       0
6  2020-03-06 09:20:00.0  27427.90  27427.90  27333.15  27411.95       0
7  2020-03-06 09:21:00.0  27408.15  27544.90  27408.15  27534.10       0
8  2020-03-06 09:22:00.0  27534.20  27549.30  27490.05  27513.00       0
9  2020-03-06 09:23:00.0  27506.50  27564.65  27456.55  27513.50       0

In [ ]:
df.dateTime.loc[0].

'2020-03-06 09:07:00.0'

In [ ]:
row2 = df.iloc[3] 
print(row2)

dateTime    2020-03-06 09:17:00.0
open                      27415.7
high                      27508.1
low                       27411.3
close                     27499.2
volume                          0
Name: 3, dtype: object

In [ ]:
import xlrd
loc = ('/content/drive/My Drive/banknifty.xls')
wb = xlrd.open_workbook(loc)
sheet = wb.sheet_by_index(0)
print(sheet.cell_value(2, 0))

2020-03-06 09:15:00.0

In [ ]:

import pandas as pd
import numpy as np
  
def main():
     
    # create a dictionary with
    # five fields each
    data = {
            'A':[1, 2, 3],
            'B':[4, 5, 6],
            'C':[7, 8, 9] }
     
    # Convert the dictionary into DataFrame
    df = pd.DataFrame(data)
    print("Original DataFrame:\n", df)
     
    # applying function to each row in the dataframe
    # and storing result in a new column
    df['add'] = df.apply(np.sum, axis = 1)
  
    print('\nAfter Applying Function: ')
    # printing the new dataframe
    print(df)
  
if __name__ == '__main__':
    main()

Original DataFrame:
    A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

After Applying Function:
   A  B  C  add
0  1  4  7   12
1  2  5  8   15
2  3  6  9   18